<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Build landing pages on the fly with OuiLand. A project created by Carl Sednaoui, built on Roots.cx">
    <meta name="author" content="Carl Sednaoui">
    <title>OuiLand - Open-Sourced Marketing Landing Pages</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
<div class="banner">
  <p>We have a special promo for you.</p>
  <div class="button">
    <Redeem>now</Redeem>
  </div>
  <div class="span">hide</div>
</div>
    <script data-main="js/main" src="js/require.js"></script>
  </body>
</html>