@import '_settings'

global-reset()
base()

.container
  width: 100%

.banner
  background: dark-blue
  color: white
  text-align: center
  padding: 15px
  font-size: 18px
  bold()

  p
    inline-block()
    margin-right: 15px

  .button
    reset-link()
    background: green
    color: white
    inline-block()
    padding: 8px
    raquo()
    border-radius: 3px
    cursor: pointer

  .hide
    float: right
    margin: -20px 10px 0 0
    cursor: pointer
    normal()
    fs(12px)

.header
  //- basic styles for simple header
  background: blue
  color: white
  text-transform: capitalize
  text-align: center
  padding: 50px
  
  h1
    font-size: 2em

  //- styles for double header
  //- double header = h1 + h2
  .double
    h1
      padding-bottom: 10px

    h2
      font-size: 1.5em

.content
  background: white
  color: blue
  padding: 50px

  h2
    fs(1.5em)
    text-align: center
    padding-bottom: 30px
    bold()

  p
    max-width: 800px
    fs(1.2em)
    margin: 20px auto

  .double
    group()
    max-width: 800px
    margin: 0 auto

    p:first-child
      float: left
      max-width: 45%

    p:last-child
      float: right
      max-width: 45%
